<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bugz</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../js/sweetalert/dist/sweetalert.min.js"></script>
  	<link rel="stylesheet" href="../js/sweetalert/dist/sweetalert.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="../node_modules/myo/myo.js"></script>
</head>
<body>
    <!--
    <audio>
        <source src="../audio/beep.mp3"></source>
        <source src="../audio/beep.ogg"></source>
        Your browser isn't invited for super fun audio time.
    </audio>-->
		<!-- Level, score, and lives display at the top -->
	<header>
	    <ul>
	        <li class="level"></li>
	        <li class="keys"></li>
	        <li class="score"></li>
	        <li class="lives"></li>
	    </ul>
	</header>
    <script src="../js/resources.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/engine.js"></script>

    <div class="controls">
        <img src="../static/images/arrow-left-icon-lower.png">
        <img src="../static/images/arrow-up-icon-lower.png">
        <img src="../static/images/arrow-down-icon-lower.png">
        <img src="../static/images/arrow-right-icon-lower.png"> to move player
    </div>
    <div class = "pausegame">
        Press <img src="../static/images/esc-icon-lower.png"> to pause game
    </div>
    <div class = "creation">
        <a href="http://hozaifaabdalla.com/" target="_blank">Developed by Hozaifa Abdalla</a>
    </div>
</body>
<script src="../js/myo-controller.js"></script>
</html>
